// === COLORS ===
$primary-color: #2748b3;
$text-color: $primary-color;
$theme-color: #000;
$secondary-color: #666;
$ternary-color: $secondary-color;
$link-color: $secondary-color;
$menu-item-color: white;

// === FONTS ===
$font-stack: "Space Mono", monospace, Helvetica, sans-serif;
$text-font: Verdana, Arial, sans-serif;
$headline-font: 'Palatino Linotype', Georgia, serif;

// === SIZES ===
$general-padding: 32px/2;
$header-height: 60px;
$content-width: 960px;
$footer-height: 90px;
